body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1 {
    background-image: url('https://image.freepik.com/free-photo/black-electric-guitar-black-cement-floor_34515-569.jpg');
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url('https://image.freepik.com/free-photo/acoustic-guitar-playing_1426-615.jpg');
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url('https://image.freepik.com/free-photo/mid-section-female-student-playing-guitar_107420-64917.jpg');
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

header {
    top: 0;
    width: 100%;
    position: relative;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

footer {
    bottom: 0;
    width: 100%;
    position: relative;
    background: #333;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

nav a {
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;

}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

span {
    background-color: transparent;
    color: #000;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.quote-text {
    margin: 0;
    padding: 30px 10px;
    text-align: center;
}

.active {
    background-color: white;
    color: black;
}